node-red-flow
[{"id":"2c45d059.2755e","type":"tab","label":"FacObj","disabled":false,"info":""},{"id":"ed3b32b2.2b057","type":"visual-recognition-v3","z":"2c45d059.2755e","name":"Detect Faces","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":412.0001220703125,"y":207.66665649414062,"wires":[["4a1a5d3d.0fd6b4","6c6c7517.3e78bc"]]},{"id":"54c0da05.d7eb84","type":"http in","z":"2c45d059.2755e","name":"http post face","url":"/ORBface","method":"post","upload":true,"swaggerDoc":"","x":411.333251953125,"y":38,"wires":[["bb3d8aaa.79acc8","e34c6184.5251f"]]},{"id":"bb3d8aaa.79acc8","type":"debug","z":"2c45d059.2755e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":40,"wires":[]},{"id":"4a1a5d3d.0fd6b4","type":"function","z":"2c45d059.2755e","name":"DetectFaces Function","func":"msg.payload = msg.result;\n\nvar gender = msg.payload.images[0].faces[0].gender.gender;\nvar minAge = msg.payload.images[0].faces[0].age.min;\nvar maxAge = msg.payload.images[0].faces[0].age.max;\n\nif (gender == \"MALE\"){\n    gender = \"male\";\n}else{\n    gender = \"female\";\n}\n\nif (gender == \"male\"){\n    assumeGender = \"he\";\n}else{\n    assumeGender = \"she\";\n}\n\nmsg.payload = String(\"I guess that the person is between \" + minAge + \" and \" + maxAge + \" years old. Additionally I think that \" + assumeGender + \" is \" + gender + \".\")\nreturn msg;","outputs":1,"noerr":0,"x":434.72216796875,"y":286.2221984863281,"wires":[["1161ce10.082762","5286cb3a.c3fad4","6cebec24.accc34"]]},{"id":"5286cb3a.c3fad4","type":"http response","z":"2c45d059.2755e","name":"http (200)","statusCode":"200","headers":{},"x":673.8333129882812,"y":340.00000762939453,"wires":[]},{"id":"6e6766f0.2448d8","type":"inject","z":"2c45d059.2755e","name":"Ginni","topic":"","payload":"{\"images\":[{\"faces\":[{\"age\":{\"min\":48,\"max\":51,\"score\":0.77804726},\"face_location\":{\"height\":247,\"width\":221,\"left\":261,\"top\":107},\"gender\":{\"gender\":\"FEMALE\",\"score\":0.99999917}}],\"image\":\"ginni-rometty.jpg\"}],\"images_processed\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103.27774047851562,"y":492.3333435058594,"wires":[["d4724619.4c9058"]]},{"id":"1161ce10.082762","type":"debug","z":"2c45d059.2755e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":667.4999389648438,"y":244.6666259765625,"wires":[]},{"id":"e34c6184.5251f","type":"function","z":"2c45d059.2755e","name":"","func":"msg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"x":403.49993896484375,"y":138.0000457763672,"wires":[["d3a75a09.8251b8","ed3b32b2.2b057"]]},{"id":"d3a75a09.8251b8","type":"debug","z":"2c45d059.2755e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690.4999389648438,"y":105.66666412353516,"wires":[]},{"id":"6c6c7517.3e78bc","type":"debug","z":"2c45d059.2755e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":666.4999389648438,"y":174.66666412353516,"wires":[]},{"id":"6cebec24.accc34","type":"watson-text-to-speech","z":"2c45d059.2755e","name":"TTS","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"uP8Mdau4f8AR","apikey":"","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":414.6112060546875,"y":421.6666259765625,"wires":[["916f40a6.bd83","65db988c.caa7e8","743a8309.b4e3ac"]]},{"id":"916f40a6.bd83","type":"function","z":"2c45d059.2755e","name":"","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":486.16656494140625,"y":471.4443054199219,"wires":[[]]},{"id":"5b8eef6a.9c27","type":"play audio","z":"2c45d059.2755e","name":"","voice":"0","x":675.9445190429688,"y":471.1110534667969,"wires":[]},{"id":"d4724619.4c9058","type":"function","z":"2c45d059.2755e","name":"","func":"var gender = msg.payload.images[0].faces[0].gender.gender;\nvar minAge = msg.payload.images[0].faces[0].age.min;\nvar maxAge = msg.payload.images[0].faces[0].age.max;\n\nif (gender == \"MALE\"){\n    gender = \"male\";\n}else{\n    gender = \"female\";\n}\n\nif (gender == \"male\"){\n    assumeGender = \"he\";\n}else{\n    assumeGender = \"she\";\n}\n\nmsg.payload = String(\"I guess that the person is between \" + minAge + \" and \" + maxAge + \" years old. Additionally I think that \" + assumeGender + \" is \" + gender + \".\")\nreturn msg;","outputs":1,"noerr":0,"x":92.61105346679688,"y":416.99993896484375,"wires":[["6cebec24.accc34"]]},{"id":"9d312e31.647e5","type":"visual-recognition-v3","z":"2c45d059.2755e","name":"Object Recognition","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":114.22222900390625,"y":208.66665649414062,"wires":[["1ddaf7d9.883968","6c6c7517.3e78bc"]]},{"id":"1ddaf7d9.883968","type":"function","z":"2c45d059.2755e","name":"ObjectReco Function","func":"let obj = msg.result.images[0].classifiers[0].classes[0];\n\nmsg.payload = {\n    chatId: msg.chatId,\n    type: \"photo\",\n    caption: \"I am \" +\n    (Math.floor(obj.score*100) ) + \"% sure, \" +\n    \"that I see something, which is called \\\"\" + \n    obj.class + \"\\\".\",\n    content: msg.payload\n};\nmsg.payload = msg.payload.caption\nreturn msg;","outputs":1,"noerr":0,"x":115.16665649414062,"y":290.6666564941406,"wires":[["5286cb3a.c3fad4","6cebec24.accc34"]]},{"id":"822d0a00.a3ac38","type":"http in","z":"2c45d059.2755e","name":"http post object","url":"/ORBobject","method":"post","upload":true,"swaggerDoc":"","x":142,"y":41.333335876464844,"wires":[["da47f310.575c3","bb3d8aaa.79acc8"]]},{"id":"da47f310.575c3","type":"function","z":"2c45d059.2755e","name":"","func":"msg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"x":112.11111450195312,"y":130.33338928222656,"wires":[["9d312e31.647e5","d3a75a09.8251b8"]]},{"id":"65db988c.caa7e8","type":"speakerpi-output","z":"2c45d059.2755e","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":434.5,"y":571,"wires":[]},{"id":"743a8309.b4e3ac","type":"debug","z":"2c45d059.2755e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":664,"y":389,"wires":[]}]